.jumbotron{
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(179, 176, 176);
    font-family: 'Audiowide', cursive;
   }

.bg {
    background-image: url("../images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.underscore {
    font-family: 'Audiowide',cursive;
    font-weight: bolder;
}

.counter {
    font-family: 'Audiowide', cursive;

}

.hints {
    font-family: 'Audiowide', cursive;
    font-weight: bold;
    
}

.guesses {
    font-family: 'Audiowide', cursive;
    font-weight: bold;
}

.remaining {
    font-family:'Audiowide', cursive;
    font-weight: bold;
}

.wrong {
    font-family:'Audiowide', cursive;
    font-weight: bold;
}

.wins {
    font-family:'Audiowide', cursive;
    font-weight: bold;
}